body {

    padding: 0px;
    margin: 0px;
  }
  .wrapper {
    border: 1px solid rgb(192, 190, 190);
    max-width: 1000px;
    margin: 0 auto;
  }

  header {

    position: relative;
    background-image: url(./anh/giaodien.png);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
  }
  .thpt{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: blue;
    text-shadow: : 0 0 2px blue;
  }
  .logo{
    position: absolute;
    background-size: 20px;
    top: 15px;
    left: 100px;
  }
  .top-menu{
              position: absolute;
              top: 0px; right: 0px;
              background-color: blue;
              line-height: 30px;
              border-bottom-left-radius: 30px;
              padding: 0 10px 0 30px ;
              box-shadow: 0 0 2px white;
          }
  .top-menu>a{
              text-decoration: none;
              color: white;
              font-variant: small-caps;

          }
  .top-menu>a:hover{
              color: red;

          }
  nav {
    position: relative;
    height: 60px;
    padding: 0px;
    margin: 0px;
    background: blue;
  }
  nav ul.hmenu {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
    border-radius: 3px;
    float: left;
  }
  nav ul.hmenu > li {
    display: inline-block;
  }
  nav ul.hmenu > li > a {
    display: block;
    line-height: 40px;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    margin: 10px;
  }
  nav ul.hmenu > li > a:hover {
    color: red;
    background-color: blue;
  }
  nav ul.hmenu > li {
    float: center;
    margin: 0 5px;
    position: relative;
  }
  .hmenu input[type=text] {
    position: absolute;
    float: right;
    top: 12px;
    right: 20px;
    padding: 7px;
    border: none;
    font-size: 17px;
  }

  article {
    min-height: 1000px;
    width: 75%;
    background: white;
    float: left;
  }
  aside {
    min-height: 1000px;
    width: 25%;
    background: rgb(235, 232, 232);
    float: left;
  }
  footer {
    border-top: 5px double blue;
    line-height: 50px;
    background-color: blue;
    color: white;
    clear: both;
    text-align: center;
    font-variant: small-caps;
  }
      .menuu{
        list-style: none;
        padding: 0px;
        margin: 5px;
        list-style: none;
        border-radius: 3px;
        box-shadow: 0 0 2px gray;

      }
      .menuu a{
        display: block;
        border-bottom: 1px dotted blue;
        color: blue;
        font-variant: small-caps;
        font-size: large;
        text-decoration: none;
        padding-left: 12px;
        line-height: 50px;
      }
      .menuu a:hover{
        border-bottom: 1px dotted white;
        background-color: blue;
        color: white;
        font-weight: bold;
      }
      iframe {
    width: 100%;
    min-height: 1000px;
  }
