body{
    padding: 0px;
    margin: 0px;

}
.web{
 max-width: 1000px;
 margin:0 auto;
 border: 1px solid 	rgb(242, 242, 242);
 box-shadow: -1px -1px 8px gray;


}
.web>header{
    background-image: url(./anh/thpt_bb.jpg);
    background-size: cover;
    background-size: 100% 360px;
    height: 0px;
    padding-bottom: 25%;
}
.web>article{
    float: right;
    width:75%;
    min-height: 510px;
    margin-top: 20px;

}
.web>aside{
    background-color:rgb(235, 232, 232);
    float: left;
    width: 25%;
    min-height: 1200px;
}
.web>footer{
    background-color:  #ccffff;
    width: 100%;
    clear: both;
    height: 180px;
    border-top: 5px double orangered;
}



.menu{
padding: 0px;
margin: 0px;
list-style: none;
background-color: blue;
border-radius: 3px;

}
.menu>li{
    display: inline-block;
}
.menu>li>a{
    display: block;
    line-height: 60px;
    padding: 0px 24px;
    color: white;
    text-decoration: none;
}
.menu>li>a:hover{
    color: red;

}

.mi{

    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    list-style: none;
    font-variant: small-caps;
    font-size: 20px;

}
.mi>li>a{
    display: block;
    color:blue;
    text-decoration: none;
    line-height: 50px;
    border-bottom: 1px dotted black;
    padding-left: 10px;
}
.mi>li>a:hover{

    color:white;
    background-color: blue;
}

P{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.b{
    text-align: center;
}
.bd iframe{
    width: 40%;
    height: 180px;
}

footer strong{
    float:right;
    margin-top: 15px;
    margin-right: 20px;
    line-height: 25px;
}
.adc{
    margin-top: 10px;
    margin-left: 10px;
    text-align: justify;
    line-height: 25px;
    margin-right: 10px;
}
.fb-share-button{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.aaa{
    margin-right: 3px;
}