
body{
   padding: 0px;
   margin: 0px;
}
.web{
max-width: 1000px;
margin:0 auto;

}
.web>header{
   background-image: url(./anh/thpt_bb.jpg );
   background-size: cover;
   background-size: 100% 360px;
   height: 0px;
   padding-bottom: 25%;
   background-repeat: no-repeat;
}
.web>article{
   float: left;
   width:69%;
   min-height: 700px;
   border: 1px solid gray;
   border-radius: 10px;
}
.web>aside{
   background-color: #4db8ff;
   float: right;
   width: 30%;
   min-height: 700px;
}
.web>footer{
   line-height: 50px;
   background-color: blue;
   clear: both;
   color: white;
   text-align: center;
   border-radius: 5px;

}



.menu{
padding: 0px;
margin: 0px;
list-style: none;
background-color: blue;
border-radius: 3px;

}
.menu>li{
   display: inline-block;
}
.menu>li>a{
   display: block;
   line-height: 50px;
   padding: 0px 24px;
   color: white;
   text-decoration: none;
}
.menu a:hover{
   color: orangered;
}


.mi{

   margin: 5px;
   padding: 0px;
   border-radius: 5px;
   list-style: none;
   font-size: 20px;
}
.chu{
   border: 1px solid gray;
   padding: 20px;
   border-radius: 10px;
   background-color: 	rgb(242, 242, 242)	;
}
.mi input{
   width: 260px;
   height: 28px;
   margin: 10px;

}
textarea{
   margin: 10px;
}
h3{
   border: 1px solid gray;
   padding: 20px;
   background-color: blue;
   color: white;
   border-radius: 10px;
}
.k{

   padding: 30px 0px 30px 0px;
   text-align: center;
   line-height: 25px;
   border-bottom: 1px solid gray;
   background-color: rgb(242, 242, 242) ;

}
button{
   width: 70px;
   height: 30px;
   margin: 10px;
   cursor: pointer;
   border-radius: 5px;
   border: 1px solid black;
}
button:hover{
   color:white;
   background-color: gray;


}


