strong{
    color: blue;

}
nav {
position: relative;
height: 60px;
padding: 0px;
margin: 0px;
background: blue;
}
article {

min-height: 1000px;
width: 75%;
background: white;
float: left;
}
aside  {
position: relative;
min-height: 1000px;
width: 25%;
background: lightgray;
float: left;
}
nav > .top {
position: relative;
height: 60px;
padding: 0px;
margin: 0px;
background: blue;
color: white;
}
h3{
background-color: green;
color: white;
}
.menuu{
list-style: none;
padding: 0px;
margin: 5px;
list-style: none;
border-radius: 3px;
box-shadow: 0 0 2px gray;

}
.menuu a{
display: block;
border-bottom: 1px dotted blue;
color: blue;
font-variant: small-caps;
font-size: large;
text-decoration: none;
padding: 8px 5px 8px 30px;
}
.menuu a:hover{
border-bottom: 1px dotted white;
background-color: blue;
color: white;
font-weight: bold;
}
.left {
padding: 0 10px 0 15px;
}
.right{
padding: 0 10px 0 15px;
}
p{
line-height: 25px;
padding: 0 10px 0 15px;
}