body{
    padding: 0px;
    margin: 0px;
}
.web{
 max-width: 1000px;
 margin:0 auto;
}
.web>header{
    background-image: url(./anh/thpt_bb.jpg );
    background-size: cover;
    background-size: 100% 360px;
    height: 0px;
    padding-bottom: 25%;
    background-repeat: no-repeat;
}
.web>article{
    float: left;
    width:44%;
    min-height: 500px;
    border: 1px solid rgb(223, 219, 219);

}
.web>aside{
    border: 1px solid rgb(223, 219, 219);

    float: right;
    width: 55%;
    min-height: 505px;
}



.menu{
padding: 0px;
margin: 0px;
list-style: none;
background-color: blue;
border-radius: 3px;

}
.menu>li{
    display: inline-block;
}
.menu>li>a{
    display: block;
    line-height: 50px;
    padding: 0px 24px;
    color: white;
    text-decoration: none;
}
.menu a:hover{
    color: orangered;
}


.mi{

    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    list-style: none;
    font-size: 20px;
}
.chu{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    background-color: 	rgb(242, 242, 242)	;
}
.mi input{
    width: 260px;
    height: 28px;
    margin: 10px;

}
.anh img{
    width: 130px;
    height: 130px;
    margin: 5px;
    border: 1px solid black;

}
